<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
<!-- main -->
        <div class="container content">
                <%- include('./partials/slider.ejs') %>
                <%- include('./partials/vid.ejs') %>
                <%- include('./partials/filter.ejs') %>
                <%- include('./partials/footer.ejs') %>
        </div>
        <%- include('./partials/sidebar.ejs') %>
        <script src="/scr/videos.js"></script>
        <script src="/scr/filter.js"></script>
    </body>
</html>
